{% extends "/layout.htm" %}

{% block title %}
    Все клубы
{% endblock %}

{% block body %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        {% for category, text in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }}">{{ text }}</div>  
        {% endfor %}

        {% for field in form if field.name not in ["csrf_token", "submit"] %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}

            <div class="col-4 d-flex align-items-baseline">
                {{ field.label(class="form-label") }}
                {{ field(class="form-control form-control-sm") }}
            </div>

        {% endfor %}
        <div class="col-4 d-flex align-items-baseline">
            {{ form.submit(class="btn btn-success px-5") }}
        </div>
    </div>
</form>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Город</th>
            <th scope="col">Адрес</th>
        </tr>
    </thead>
    <tbody>
        {% if clubs %}
            {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td>{{ club.city }}</td>
                    <td>{{ club.address }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endblock %}